.entry-cover1 {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-cover {
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-bottom: unset;

    max-height: 150px;
    display: grid;
    align-content: center;
}

.post-info {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-right: 10px;
}

————————————————
版权声明：本文为「Sulv's Blog」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://www.sulvblog.cn/posts/blog/img_right/