{{- with site.Params.homeInfoParams }}

<style>
h1::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  margin-left: 5px;
  background-color: hsl(0, 0%, 0%);
  animation: blink 0.7s infinite;
  transform: translateY(4px);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
</style>

<article class="first-entry home-info" style="background-image: url('img/blue.jpg');background-size: cover;border-radius: 8px;">
    <header class="entry-header" style="position: absolute; top: 10%; left: 5%; width: 100%; ">
        <h1 id="animated-heading">{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content" style="position: absolute; top: 20%; left: 5%; width: 100%; color:#002240; ">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer" style="position: absolute; top: 40%; left: 5%; width: 100%; ">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
    <script>
    </script>
</article>

{{- end -}}
   

